<div id="personal">
  <ul class="social">
	<li>I put my code on <a href="https://github.com/SeanPONeil">GitHub</a></li>
	<li>I hang mostly on <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
	<li>I listen to music <a href="http://www.last.fm/user/oneilse14">Last.fm</a></li> 
      	<li>You can grab my <a href="http://seanponeil.com/atom.xml">RSS Feed</a></li>
  </ul>
  <ul class="toolbox">
	<li>I study at the <a href="http://umich.edu" title="University of Micigan">University of Michigan</a></li>
	<li>I hack on stuff at <a href="http://duosecurity.com" title="Duo Security">Duo Security</a></li>
	<li>I hope to see Muppets on Saturdays <a href="https://play.google.com/store/apps/details?id=com.atami.mgodroid&feature=nav_result#?t=W251bGwsMSwxLDMsImNvbS5hdGFtaS5tZ29kcm9pZCJd" title="MGoBlog">MGoBlog</a></li>
  </ul>
  <br style="clear:both;">

</div>
